* {
    box-sizing: border-box;
}

body {
    width: 550px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
}

.logo {
    width: 31px;
    margin-right: 6px;
}

.project-name {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    margin-right: auto;
}

.title {
    font-family: 'Inter', normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.meme-components {
    padding: 36px;
    position: relative;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form-input{
    font-family: "Karla", sans-serif;
    width: 230px;
    height: 35px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-button {
    font-family: "Karla", sans-serif;
    width: 477px;
    height: 40px;
    grid-column: 1/-1;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.meme-image {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 3px;
}

.top-text, .bottom-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 140%);
    margin: 100px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-text {
    top: 0;
}

.bottom-text {
    bottom: 0;
}